html {
	display: flex;
  	align-items: center;
  	justify-content: space-around;
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('evening-sky.png');
	display: flex;
	height: 100%;
}
a {
	color: white;
	font-family: JetBrainsMono Nerd Font;
	font-size: 30;
	text-decoration: none;
	margin: 0 10px;
}
.box {
	border: 4px solid #11111b;
	background-color: #181825;
	right: 80%;
	top: 35.4%;
	right: 30%;
}
h1 {
	font-size: 26;
	font-family: JetBrainsMono Nerd Font;
	color: #fab387;
	text-align: center;
}
h2 {
	font-size: 25;
	font-family: Comic Sans MS;
	color: #cdd6f4;
	text-align: center;
	top: 20%;
	right: 47%;
	text-shadow: 0 0 4px #000;
}

